<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>hidden</key>
		<true/>
		<key>code</key>
		<string>nop</string>
		<key>keyTop</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>#1</string>
		<key>keyTop</key>
		<string>1</string>
		<key>formula</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>#2</string>
		<key>keyTop</key>
		<string>2</string>
		<key>formula</key>
		<string>2</string>
	</dict>
	<dict>
		<key>code</key>
		<string>#3</string>
		<key>keyTop</key>
		<string>3</string>
		<key>formula</key>
		<string>3</string>
	</dict>
	<dict>
		<key>code</key>
		<string>#4</string>
		<key>keyTop</key>
		<string>4</string>
		<key>formula</key>
		<string>4</string>
	</dict>
	<dict>
		<key>code</key>
		<string>#5</string>
		<key>keyTop</key>
		<string>5</string>
		<key>formula</key>
		<string>5</string>
	</dict>
	<dict>
		<key>code</key>
		<string>#6</string>
		<key>keyTop</key>
		<string>6</string>
		<key>formula</key>
		<string>6</string>
	</dict>
	<dict>
		<key>code</key>
		<string>#7</string>
		<key>keyTop</key>
		<string>7</string>
		<key>formula</key>
		<string>7</string>
	</dict>
	<dict>
		<key>code</key>
		<string>#8</string>
		<key>keyTop</key>
		<string>8</string>
		<key>formula</key>
		<string>8</string>
	</dict>
	<dict>
		<key>code</key>
		<string>#9</string>
		<key>keyTop</key>
		<string>9</string>
		<key>formula</key>
		<string>9</string>
	</dict>
	<dict>
		<key>code</key>
		<string>#0</string>
		<key>keyTop</key>
		<string>0</string>
		<key>formula</key>
		<string>0</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Deci</string>
		<key>keyTop</key>
		<string>.</string>
		<key>formula</key>
		<string>.</string>
	</dict>
	<dict>
		<key>code</key>
		<string>#00</string>
		<key>keyTop</key>
		<string>00</string>
		<key>formula</key>
		<string>00</string>
	</dict>
	<dict>
		<key>code</key>
		<string>#000</string>
		<key>keyTop</key>
		<string>000</string>
		<key>formula</key>
		<string>000</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Add</string>
		<key>keyTop</key>
		<string>+</string>
		<key>formula</key>
		<string>+</string>
		<key>symbol</key>
		<string>plus</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Sub</string>
		<key>keyTop</key>
		<string>-</string>
		<key>formula</key>
		<string>-</string>
		<key>symbol</key>
		<string>minus</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Mul</string>
		<key>keyTop</key>
		<string>×</string>
		<key>formula</key>
		<string>×</string>
		<key>symbol</key>
		<string>multiply</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Div</string>
		<key>keyTop</key>
		<string>÷</string>
		<key>formula</key>
		<string>÷</string>
		<key>symbol</key>
		<string>divide</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sqRoot</string>
		<key>keyTop</key>
		<string>√</string>
		<key>formula</key>
		<string>√</string>
		<key>symbol</key>
		<string>squareroot</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cuRoot</string>
		<key>keyTop</key>
		<string>∛</string>
		<key>formula</key>
		<string>∛</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Ans</string>
		<key>keyTop</key>
		<string>=</string>
		<key>formula</key>
		<string>=</string>
		<key>symbol</key>
		<string>equal</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Paren</string>
		<key>keyTop</key>
		<string>( )</string>
		<key>symbol</key>
		<string>parentheses</string>
		<key>comment</key>
		<string>前後の丸括弧を判断して入力する</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CA</string>
		<key>keyTop</key>
		<string>CA</string>
		<key>symbol</key>
		<string>xmark.circle</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BS</string>
		<key>keyTop</key>
		<string>BS</string>
		<key>symbol</key>
		<string>delete.left</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CS</string>
		<key>keyTop</key>
		<string>CS</string>
		<key>symbol</key>
		<string>clear</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Sign</string>
		<key>keyTop</key>
		<string>+/-</string>
		<key>symbol</key>
		<string>minus.forwardslash.plus</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Bare</string>
		<key>hidden</key>
		<true/>
		<key>keyTop</key>
		<string></string>
		<key>unitBase</key>
		<string>Bare</string>
		<key>memo</key>
		<string>無名数（bare number）の基準単位　hidden=YESにして非表示</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Perc</string>
		<key>keyTop</key>
		<string>%</string>
		<key>symbol</key>
		<string>percent</string>
		<key>unitBase</key>
		<string>Bare</string>
		<key>unitConv</key>
		<string>/100</string>
		<key>unitRev</key>
		<string>*100</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Perm</string>
		<key>keyTop</key>
		<string>‰</string>
		<key>unitBase</key>
		<string>Bare</string>
		<key>unitConv</key>
		<string>/1000</string>
		<key>unitRev</key>
		<string>*1000</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Pi</string>
		<key>keyTop</key>
		<string>π</string>
		<key>symbol</key>
		<string>pi</string>
		<key>unitBase</key>
		<string>Bare</string>
		<key>unitConv</key>
		<string>*3.141592653589793238462643383279</string>
		<key>unitRev</key>
		<string>/3.141592653589793238462643383279</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Up20%</string>
		<key>keyTop</key>
		<string>↑20%</string>
		<key>unitBase</key>
		<string>Bare</string>
		<key>unitConv</key>
		<string>*1.2</string>
		<key>unitRev</key>
		<string>/1.2</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Up10%</string>
		<key>keyTop</key>
		<string>↑10%</string>
		<key>unitBase</key>
		<string>Bare</string>
		<key>unitConv</key>
		<string>*1.1</string>
		<key>unitRev</key>
		<string>/1.1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Up8%</string>
		<key>keyTop</key>
		<string>↑8%</string>
		<key>unitBase</key>
		<string>Bare</string>
		<key>unitConv</key>
		<string>*1.08</string>
		<key>unitRev</key>
		<string>/1.08</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Up5%</string>
		<key>keyTop</key>
		<string>↑5%</string>
		<key>unitBase</key>
		<string>Bare</string>
		<key>unitConv</key>
		<string>*1.05</string>
		<key>unitRev</key>
		<string>/1.05</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Dw20%</string>
		<key>keyTop</key>
		<string>↓20%</string>
		<key>unitBase</key>
		<string>Bare</string>
		<key>unitConv</key>
		<string>/1.2</string>
		<key>unitRev</key>
		<string>*1.2</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Dw10%</string>
		<key>keyTop</key>
		<string>↓10%</string>
		<key>unitBase</key>
		<string>Bare</string>
		<key>unitConv</key>
		<string>/1.1</string>
		<key>unitRev</key>
		<string>*1.1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Dw8%</string>
		<key>keyTop</key>
		<string>↓8%</string>
		<key>unitBase</key>
		<string>Bare</string>
		<key>unitConv</key>
		<string>/1.08</string>
		<key>unitRev</key>
		<string>*1.08</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Dw5%</string>
		<key>keyTop</key>
		<string>↓5%</string>
		<key>unitBase</key>
		<string>Bare</string>
		<key>unitConv</key>
		<string>/1.05</string>
		<key>unitRev</key>
		<string>*1.05</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Wari</string>
		<key>keyTop</key>
		<string>割</string>
		<key>unitBase</key>
		<string>Bare</string>
		<key>unitConv</key>
		<string>/10</string>
		<key>unitRev</key>
		<string>*10</string>
	</dict>
	<dict>
		<key>code</key>
		<string>WaBu</string>
		<key>keyTop</key>
		<string>分</string>
		<key>unitBase</key>
		<string>Bare</string>
		<key>unitConv</key>
		<string>/100</string>
		<key>unitRev</key>
		<string>*100</string>
	</dict>
	<dict>
		<key>code</key>
		<string>WaRin</string>
		<key>keyTop</key>
		<string>厘</string>
		<key>unitBase</key>
		<string>Bare</string>
		<key>unitConv</key>
		<string>/1000</string>
		<key>unitRev</key>
		<string>*1000</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mg</string>
		<key>keyTop</key>
		<string>mg</string>
		<key>unitBase</key>
		<string>kg</string>
		<key>unitConv</key>
		<string>/1000000</string>
		<key>unitRev</key>
		<string>*1000000</string>
	</dict>
	<dict>
		<key>code</key>
		<string>g</string>
		<key>keyTop</key>
		<string>g</string>
		<key>unitBase</key>
		<string>kg</string>
		<key>unitConv</key>
		<string>/1000</string>
		<key>unitRev</key>
		<string>*1000</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kg</string>
		<key>keyTop</key>
		<string>kg</string>
		<key>unitBase</key>
		<string>kg</string>
	</dict>
	<dict>
		<key>code</key>
		<string>t</string>
		<key>keyTop</key>
		<string>t</string>
		<key>unitBase</key>
		<string>kg</string>
		<key>unitConv</key>
		<string>*1000</string>
		<key>unitRev</key>
		<string>/1000</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kt</string>
		<key>keyTop</key>
		<string>kt</string>
		<key>unitBase</key>
		<string>kg</string>
		<key>unitConv</key>
		<string>*1000000</string>
		<key>unitRev</key>
		<string>/1000000</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mm</string>
		<key>keyTop</key>
		<string>mm</string>
		<key>unitBase</key>
		<string>m</string>
		<key>unitConv</key>
		<string>/1000</string>
		<key>unitRev</key>
		<string>*1000</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cm</string>
		<key>keyTop</key>
		<string>cm</string>
		<key>unitBase</key>
		<string>m</string>
		<key>unitConv</key>
		<string>/100</string>
		<key>unitRev</key>
		<string>*100</string>
	</dict>
	<dict>
		<key>code</key>
		<string>m</string>
		<key>keyTop</key>
		<string>m</string>
		<key>unitBase</key>
		<string>m</string>
	</dict>
	<dict>
		<key>code</key>
		<string>km</string>
		<key>keyTop</key>
		<string>km</string>
		<key>unitBase</key>
		<string>m</string>
		<key>unitConv</key>
		<string>*1000</string>
		<key>unitRev</key>
		<string>/1000</string>
	</dict>
	<dict>
		<key>code</key>
		<string>里</string>
		<key>keyTop</key>
		<string>里</string>
		<key>unitBase</key>
		<string>m</string>
		<key>unitConv</key>
		<string>*3927.27</string>
		<key>unitRev</key>
		<string>/3927.27</string>
	</dict>
	<dict>
		<key>code</key>
		<string>m㎡</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>/1000000</string>
		<key>unitRev</key>
		<string>*1000000</string>
	</dict>
	<dict>
		<key>code</key>
		<string>c㎡</string>
		<key>keyTop</key>
		<string>c㎡</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>/10000</string>
		<key>unitRev</key>
		<string>*10000</string>
	</dict>
	<dict>
		<key>code</key>
		<string>㎡</string>
		<key>keyTop</key>
		<string>㎡</string>
		<key>unitBase</key>
		<string>㎡</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Are</string>
		<key>keyTop</key>
		<string>ａ</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>*100</string>
		<key>unitRev</key>
		<string>/100</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Hare</string>
		<key>keyTop</key>
		<string>ha</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>*10000</string>
		<key>unitRev</key>
		<string>/10000</string>
	</dict>
	<dict>
		<key>code</key>
		<string>k㎡</string>
		<key>keyTop</key>
		<string>k㎡</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>*1000000</string>
		<key>unitRev</key>
		<string>/1000000</string>
	</dict>
	<dict>
		<key>code</key>
		<string>坪</string>
		<key>keyTop</key>
		<string>坪</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>*3.305785</string>
		<key>unitRev</key>
		<string>/3.305785</string>
	</dict>
	<dict>
		<key>code</key>
		<string>畝</string>
		<key>keyTop</key>
		<string>畝</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>*99.17355</string>
		<key>unitRev</key>
		<string>/99.17355</string>
	</dict>
	<dict>
		<key>code</key>
		<string>反</string>
		<key>keyTop</key>
		<string>反</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>*991.7355</string>
		<key>unitRev</key>
		<string>/991.7355</string>
	</dict>
</array>
</plist>
