<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>nop</string>
		<key>keyTop</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>1</string>
		<key>formula</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>2</string>
		<key>formula</key>
		<string>2</string>
	</dict>
	<dict>
		<key>code</key>
		<string>3</string>
		<key>formula</key>
		<string>3</string>
	</dict>
	<dict>
		<key>code</key>
		<string>4</string>
		<key>formula</key>
		<string>4</string>
	</dict>
	<dict>
		<key>code</key>
		<string>5</string>
		<key>formula</key>
		<string>5</string>
	</dict>
	<dict>
		<key>code</key>
		<string>6</string>
		<key>formula</key>
		<string>6</string>
	</dict>
	<dict>
		<key>code</key>
		<string>7</string>
		<key>New item</key>
		<string></string>
		<key>formula</key>
		<string>7</string>
	</dict>
	<dict>
		<key>code</key>
		<string>8</string>
		<key>formula</key>
		<string>8</string>
	</dict>
	<dict>
		<key>code</key>
		<string>9</string>
		<key>formula</key>
		<string>9</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0</string>
		<key>formula</key>
		<string>9</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Deci</string>
		<key>formula</key>
		<string>.</string>
		<key>keyTop</key>
		<string>.</string>
	</dict>
	<dict>
		<key>code</key>
		<string>00</string>
		<key>formula</key>
		<string>00</string>
	</dict>
	<dict>
		<key>code</key>
		<string>000</string>
		<key>formula</key>
		<string>000</string>
	</dict>
	<dict>
		<key>code</key>
		<string>nop</string>
		<key>keyTop</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>Start</string>
		<key>formula</key>
		<string>→</string>
		<key>keyTop</key>
		<string>→</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Add</string>
		<key>formula</key>
		<string>+</string>
		<key>keyTop</key>
		<string>+</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Sub</string>
		<key>formula</key>
		<string>-</string>
		<key>keyTop</key>
		<string>-</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Mul</string>
		<key>formula</key>
		<string>×</string>
		<key>keyTop</key>
		<string>×</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Div</string>
		<key>formula</key>
		<string>÷</string>
		<key>keyTop</key>
		<string>÷</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Ans</string>
		<key>formula</key>
		<string>=</string>
		<key>keyTop</key>
		<string>=</string>
	</dict>
	<dict>
		<key>code</key>
		<string>GT</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Parentheses</string>
		<key>keyTop</key>
		<string>( )</string>
		<key>comment</key>
		<string>前後の丸括弧を判断して入力する</string>
	</dict>
	<dict>
		<key>code</key>
		<string>nop</string>
		<key>keyTop</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>CA</string>
	</dict>
	<dict>
		<key>code</key>
		<string>BS</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CS</string>
	</dict>
	<dict>
		<key>code</key>
		<string>CL</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Sign</string>
		<key>keyTop</key>
		<string>+/-</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Perc</string>
		<key>keyTop</key>
		<string>%</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Perm</string>
		<key>keyTop</key>
		<string>‰</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Sroot</string>
		<key>keyTop</key>
		<string>√</string>
	</dict>
	<dict>
		<key>code</key>
		<string>addTax</string>
		<key>keyTop</key>
		<string>+Tax</string>
	</dict>
	<dict>
		<key>code</key>
		<string>subTax</string>
		<key>keyTop</key>
		<string>-Tax</string>
	</dict>
	<dict>
		<key>code</key>
		<string>nop</string>
		<key>keyTop</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>mg</string>
		<key>unitBase</key>
		<string>g</string>
		<key>unitConv</key>
		<string>(#/1000)</string>
		<key>unitRev</key>
		<string>(#*1000)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>g</string>
		<key>unitBase</key>
		<string>g</string>
		<key>unitConv</key>
		<string>#</string>
		<key>unitRev</key>
		<string>#</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kg</string>
		<key>unitBase</key>
		<string>g</string>
		<key>unitConv</key>
		<string>(#*1000)</string>
		<key>unitRev</key>
		<string>(#/1000)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>t</string>
		<key>unitBase</key>
		<string>g</string>
		<key>unitConv</key>
		<string>(#*1000000)</string>
		<key>unitRev</key>
		<string>(#/1000000)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kt</string>
		<key>unitBase</key>
		<string>g</string>
		<key>unitConv</key>
		<string>(#*1000000000)</string>
		<key>unitRev</key>
		<string>(#/1000000000)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mm</string>
		<key>unitBase</key>
		<string>m</string>
		<key>unitConv</key>
		<string>(#/1000)</string>
		<key>unitRev</key>
		<string>(#*1000)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cm</string>
		<key>unitBase</key>
		<string>m</string>
		<key>unitConv</key>
		<string>(#/100)</string>
		<key>unitRev</key>
		<string>(#*100)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>m</string>
		<key>unitBase</key>
		<string>m</string>
		<key>unitConv</key>
		<string>#</string>
		<key>unitRev</key>
		<string>#</string>
	</dict>
	<dict>
		<key>code</key>
		<string>km</string>
		<key>unitBase</key>
		<string>m</string>
		<key>unitConv</key>
		<string>(#*1000)</string>
		<key>unitRev</key>
		<string>(#/1000)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>m㎡</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>(#/1000000)</string>
		<key>unitRev</key>
		<string>(#*1000000)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>c㎡</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>(#/10000)</string>
		<key>unitRev</key>
		<string>(#*10000)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>㎡</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>#</string>
		<key>unitRev</key>
		<string>#</string>
	</dict>
	<dict>
		<key>code</key>
		<string>a</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>(#*100)</string>
		<key>unitRev</key>
		<string>(#/100)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ha</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>(#*10000)</string>
		<key>unitRev</key>
		<string>(#/10000)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>k㎡</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>(#*1000000)</string>
		<key>unitRev</key>
		<string>(#/1000000)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>坪</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>(#*3.305785)</string>
		<key>unitRev</key>
		<string>(#/3.305785)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>畝</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>(#*99.17355)</string>
		<key>unitRev</key>
		<string>(#/99.17355)</string>
	</dict>
	<dict>
		<key>code</key>
		<string>反</string>
		<key>unitBase</key>
		<string>㎡</string>
		<key>unitConv</key>
		<string>(#*991.7355)</string>
		<key>unitRev</key>
		<string>(#/991.7355)</string>
	</dict>
</array>
</plist>
