<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A1_1</key>
	<dict>
		<key>code</key>
		<string>1</string>
	</dict>
	<key>A1_2</key>
	<dict>
		<key>code</key>
		<string>2</string>
	</dict>
	<key>A1_3</key>
	<dict>
		<key>code</key>
		<string>3</string>
	</dict>
	<key>A1_4</key>
	<dict>
		<key>code</key>
		<string>4</string>
	</dict>
	<key>A1_5</key>
	<dict>
		<key>code</key>
		<string>5</string>
	</dict>
	<key>A1_6</key>
	<dict>
		<key>code</key>
		<string>6</string>
	</dict>
	<key>A1_7</key>
	<dict>
		<key>code</key>
		<string>7</string>
	</dict>
	<key>A1_8</key>
	<dict>
		<key>code</key>
		<string>8</string>
	</dict>
	<key>A1_9</key>
	<dict>
		<key>code</key>
		<string>9</string>
	</dict>
	<key>A2_0</key>
	<dict>
		<key>code</key>
		<string>0</string>
	</dict>
	<key>A3_00</key>
	<dict>
		<key>code</key>
		<string>02</string>
		<key>keyTop</key>
		<string>00</string>
	</dict>
	<key>A4_000</key>
	<dict>
		<key>code</key>
		<string>03</string>
		<key>keyTop</key>
		<string>000</string>
	</dict>
	<key>P00_Start</key>
	<dict>
		<key>code</key>
		<string>Start</string>
		<key>keyTop</key>
		<string>→</string>
	</dict>
	<key>P01_Plus</key>
	<dict>
		<key>code</key>
		<string>Plus</string>
		<key>keyTop</key>
		<string>+</string>
	</dict>
	<key>P02_Minus</key>
	<dict>
		<key>code</key>
		<string>Minus</string>
		<key>keyTop</key>
		<string>-</string>
	</dict>
	<key>P03_Multiply</key>
	<dict>
		<key>code</key>
		<string>Mul</string>
		<key>keyTop</key>
		<string>-</string>
	</dict>
	<key>P04_Divide</key>
	<dict>
		<key>code</key>
		<string>Div</string>
		<key>keyTop</key>
		<string>-</string>
	</dict>
	<key>P05_Answer</key>
	<dict>
		<key>code</key>
		<string>Ans</string>
		<key>keyTop</key>
		<string>=</string>
	</dict>
	<key>P06_GroundTotal</key>
	<dict>
		<key>code</key>
		<string>GT</string>
		<key>keyTop</key>
		<string>GT</string>
	</dict>
	<key>P07_Sign</key>
	<dict>
		<key>code</key>
		<string>AC</string>
		<key>keyTop</key>
		<string>AC</string>
	</dict>
	<key>P08_LeftParen</key>
	<dict>
		<key>code</key>
		<string>(</string>
	</dict>
	<key>P09_RightParen</key>
	<dict>
		<key>code</key>
		<string>)</string>
	</dict>
	<key>P10_AllClear</key>
	<dict>
		<key>code</key>
		<string>AC</string>
	</dict>
	<key>P11_BackSpace</key>
	<dict>
		<key>code</key>
		<string>BS</string>
	</dict>
	<key>P12_SectionClear</key>
	<dict>
		<key>code</key>
		<string>SC</string>
	</dict>
	<key>P13_LineClear</key>
	<dict>
		<key>code</key>
		<string>LC</string>
	</dict>
	<key>P20_Percent</key>
	<dict>
		<key>code</key>
		<string>Perc</string>
		<key>keyTop</key>
		<string>%</string>
	</dict>
	<key>P21_Permil</key>
	<dict>
		<key>code</key>
		<string>Perm</string>
		<key>keyTop</key>
		<string>‰</string>
	</dict>
	<key>P22_SquareRoot</key>
	<dict>
		<key>code</key>
		<string>Sroot</string>
		<key>keyTop</key>
		<string>√</string>
	</dict>
	<key>P23_addTax</key>
	<dict>
		<key>code</key>
		<string>addTax</string>
		<key>keyTop</key>
		<string>+Tax</string>
	</dict>
	<key>P24_subTax</key>
	<dict>
		<key>code</key>
		<string>subTax</string>
		<key>keyTop</key>
		<string>-Tax</string>
	</dict>
	<key>U014_mg</key>
	<dict>
		<key>code</key>
		<string>mg</string>
		<key>UnitBase</key>
		<string>g</string>
		<key>UnitConv</key>
		<string>(#/1000)</string>
		<key>UnitRev</key>
		<string>(#*1000)</string>
	</dict>
	<key>U015_g</key>
	<dict>
		<key>code</key>
		<string>g</string>
		<key>UnitBase</key>
		<string>g</string>
		<key>UnitConv</key>
		<string>#</string>
		<key>UnitRev</key>
		<string>#</string>
	</dict>
	<key>U016_kg</key>
	<dict>
		<key>code</key>
		<string>kg</string>
		<key>UnitBase</key>
		<string>g</string>
		<key>UnitConv</key>
		<string>(#*1000)</string>
		<key>UnitRev</key>
		<string>(#/1000)</string>
	</dict>
	<key>U017_t</key>
	<dict>
		<key>code</key>
		<string>t</string>
		<key>UnitBase</key>
		<string>g</string>
		<key>UnitConv</key>
		<string>(#*1000000)</string>
		<key>UnitRev</key>
		<string>(#/1000000)</string>
	</dict>
	<key>U018_kt</key>
	<dict>
		<key>code</key>
		<string>kt</string>
		<key>UnitBase</key>
		<string>g</string>
		<key>UnitConv</key>
		<string>(#*1000000000)</string>
		<key>UnitRev</key>
		<string>(#/1000000000)</string>
	</dict>
	<key>U023_mm</key>
	<dict>
		<key>code</key>
		<string>mm</string>
		<key>UnitBase</key>
		<string>m</string>
		<key>UnitConv</key>
		<string>(#/1000)</string>
		<key>UnitRev</key>
		<string>(#*1000)</string>
	</dict>
	<key>U024_cm</key>
	<dict>
		<key>code</key>
		<string>cm</string>
		<key>UnitBase</key>
		<string>m</string>
		<key>UnitConv</key>
		<string>(#/100)</string>
		<key>UnitRev</key>
		<string>(#*100)</string>
	</dict>
	<key>U025_m</key>
	<dict>
		<key>code</key>
		<string>m</string>
		<key>UnitBase</key>
		<string>m</string>
		<key>UnitConv</key>
		<string>#</string>
		<key>UnitRev</key>
		<string>#</string>
	</dict>
	<key>U026_km</key>
	<dict>
		<key>code</key>
		<string>km</string>
		<key>UnitBase</key>
		<string>m</string>
		<key>UnitConv</key>
		<string>(#*1000)</string>
		<key>UnitRev</key>
		<string>(#/1000)</string>
	</dict>
	<key>U033_mm2</key>
	<dict>
		<key>code</key>
		<string>m㎡</string>
		<key>UnitBase</key>
		<string>㎡</string>
		<key>UnitConv</key>
		<string>(#/1000000)</string>
		<key>UnitRev</key>
		<string>(#*1000000)</string>
	</dict>
	<key>U034_cm2</key>
	<dict>
		<key>code</key>
		<string>c㎡</string>
		<key>UnitBase</key>
		<string>㎡</string>
		<key>UnitConv</key>
		<string>(#/10000)</string>
		<key>UnitRev</key>
		<string>(#*10000)</string>
	</dict>
	<key>U035_m2</key>
	<dict>
		<key>code</key>
		<string>㎡</string>
		<key>UnitBase</key>
		<string>㎡</string>
		<key>UnitConv</key>
		<string>#</string>
		<key>UnitRev</key>
		<string>#</string>
	</dict>
	<key>U036_are</key>
	<dict>
		<key>code</key>
		<string>a</string>
		<key>UnitBase</key>
		<string>㎡</string>
		<key>UnitConv</key>
		<string>(#*100)</string>
		<key>UnitRev</key>
		<string>(#/100)</string>
	</dict>
	<key>U037_ha</key>
	<dict>
		<key>code</key>
		<string>ha</string>
		<key>UnitBase</key>
		<string>㎡</string>
		<key>UnitConv</key>
		<string>(#*10000)</string>
		<key>UnitRev</key>
		<string>(#/10000)</string>
	</dict>
	<key>U038_km2</key>
	<dict>
		<key>code</key>
		<string>k㎡</string>
		<key>UnitBase</key>
		<string>㎡</string>
		<key>UnitConv</key>
		<string>(#*1000000)</string>
		<key>UnitRev</key>
		<string>(#/1000000)</string>
	</dict>
	<key>U03a_TUBO</key>
	<dict>
		<key>code</key>
		<string>坪</string>
		<key>UnitBase</key>
		<string>㎡</string>
		<key>UnitConv</key>
		<string>(#*3.305785)</string>
		<key>UnitRev</key>
		<string>(#/3.305785)</string>
	</dict>
	<key>U03b_UNE</key>
	<dict>
		<key>code</key>
		<string>畝</string>
		<key>UnitBase</key>
		<string>㎡</string>
		<key>UnitConv</key>
		<string>(#*99.17355)</string>
		<key>UnitRev</key>
		<string>(#/99.17355)</string>
	</dict>
	<key>U03c_TAN</key>
	<dict>
		<key>code</key>
		<string>反</string>
		<key>UnitBase</key>
		<string>㎡</string>
		<key>UnitConv</key>
		<string>(#*991.7355)</string>
		<key>UnitRev</key>
		<string>(#/991.7355)</string>
	</dict>
</dict>
</plist>
