<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyTag_Sample</key>
	<dict>
		<key>Disp</key>
		<string>キートップ表示文字</string>
		<key>Input</key>
		<string>Calc入力文字</string>
		<key>UnitBase</key>
		<string>基準単位</string>
		<key>UnitConv</key>
		<string>変換式</string>
		<key>UnitRev</key>
		<string>逆変換式</string>
	</dict>
	<key>N_0</key>
	<dict>
		<key>Disp</key>
		<string>0</string>
		<key>Input</key>
		<string>0</string>
	</dict>
	<key>N_1</key>
	<dict>
		<key>Disp</key>
		<string>1</string>
		<key>Input</key>
		<string>1</string>
	</dict>
	<key>N_2</key>
	<dict>
		<key>Disp</key>
		<string>2</string>
		<key>Input</key>
		<string>2</string>
	</dict>
	<key>N_3</key>
	<dict>
		<key>Disp</key>
		<string>3</string>
		<key>Input</key>
		<string>3</string>
	</dict>
	<key>N_4</key>
	<dict>
		<key>Disp</key>
		<string>4</string>
		<key>Input</key>
		<string>4</string>
	</dict>
	<key>N_5</key>
	<dict>
		<key>Disp</key>
		<string>5</string>
		<key>Input</key>
		<string>5</string>
	</dict>
	<key>N_6</key>
	<dict>
		<key>Disp</key>
		<string>6</string>
		<key>Input</key>
		<string>6</string>
	</dict>
	<key>N_7</key>
	<dict>
		<key>Disp</key>
		<string>7</string>
		<key>Input</key>
		<string>7</string>
	</dict>
	<key>N_8</key>
	<dict>
		<key>Disp</key>
		<string>8</string>
		<key>Input</key>
		<string>8</string>
	</dict>
	<key>N_9</key>
	<dict>
		<key>Disp</key>
		<string>9</string>
		<key>Input</key>
		<string>9</string>
	</dict>
	<key>N_00</key>
	<dict>
		<key>Disp</key>
		<string>00</string>
		<key>Input</key>
		<string>00</string>
	</dict>
	<key>N_000</key>
	<dict>
		<key>Disp</key>
		<string>000</string>
		<key>Input</key>
		<string>000</string>
	</dict>
	<key>O_Start</key>
	<dict>
		<key>Disp</key>
		<string>→</string>
		<key>Input</key>
		<string>→</string>
	</dict>
	<key>O_Answer</key>
	<dict>
		<key>Disp</key>
		<string>=</string>
		<key>Input</key>
		<string>=</string>
	</dict>
	<key>O_Plus</key>
	<dict>
		<key>Disp</key>
		<string>+</string>
		<key>Input</key>
		<string>+</string>
	</dict>
	<key>O_Minus</key>
	<dict>
		<key>Disp</key>
		<string>-</string>
		<key>Input</key>
		<string>-</string>
	</dict>
	<key>O_AllClear</key>
	<dict>
		<key>Disp</key>
		<string>AC</string>
		<key>Input</key>
		<string>AC</string>
	</dict>
	<key>O_GroundTotal</key>
	<dict>
		<key>Disp</key>
		<string>GT</string>
		<key>Input</key>
		<string>GT</string>
	</dict>
	<key>U_Kg</key>
	<dict>
		<key>Disp</key>
		<string>Kg</string>
		<key>Input</key>
		<string>kg</string>
		<key>UnitBase</key>
		<string>kg</string>
		<key>UnitConv</key>
		<string>#</string>
		<key>UnitRev</key>
		<string>#</string>
	</dict>
	<key>U_g</key>
	<dict>
		<key>Disp</key>
		<string>g</string>
		<key>Input</key>
		<string>g</string>
		<key>UnitBase</key>
		<string>g</string>
		<key>UnitConv</key>
		<string>(#/1000)</string>
		<key>UnitRev</key>
		<string>(#*1000)</string>
	</dict>
</dict>
</plist>
