<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Standard</string>
		<key>Column</key>
		<integer>5</integer>
		<key>Keys</key>
		<array>
			<dict>
				<key>label</key>
				<string>７</string>
				<key>keyTag</key>
				<string>7</string>
			</dict>
			<dict>
				<key>label</key>
				<string>８</string>
				<key>keyTag</key>
				<string>8</string>
			</dict>
			<dict>
				<key>label</key>
				<string>９</string>
				<key>keyTag</key>
				<string>9</string>
			</dict>
			<dict>
				<key>label</key>
				<string>％</string>
				<key>keyTag</key>
				<string>%</string>
			</dict>
			<dict>
				<key>label</key>
				<string>+/-</string>
				<key>keyTag</key>
				<string>+/-</string>
			</dict>
			<dict>
				<key>label</key>
				<string>４</string>
				<key>keyTag</key>
				<string>4</string>
			</dict>
			<dict>
				<key>label</key>
				<string>５</string>
				<key>keyTag</key>
				<string>5</string>
			</dict>
			<dict>
				<key>label</key>
				<string>６</string>
				<key>keyTag</key>
				<string>6</string>
			</dict>
			<dict>
				<key>label</key>
				<string>×</string>
				<key>keyTag</key>
				<string>×</string>
			</dict>
			<dict>
				<key>label</key>
				<string>÷</string>
				<key>keyTag</key>
				<string>÷</string>
			</dict>
			<dict>
				<key>label</key>
				<string>１</string>
				<key>keyTag</key>
				<string>1</string>
			</dict>
			<dict>
				<key>label</key>
				<string>２</string>
				<key>keyTag</key>
				<string>2</string>
			</dict>
			<dict>
				<key>label</key>
				<string>３</string>
				<key>keyTag</key>
				<string>3</string>
			</dict>
			<dict>
				<key>label</key>
				<string>＋</string>
				<key>keyTag</key>
				<string>+</string>
			</dict>
			<dict>
				<key>label</key>
				<string>ー</string>
				<key>keyTag</key>
				<string>-</string>
			</dict>
			<dict>
				<key>label</key>
				<string>0</string>
				<key>keyTag</key>
				<string>0</string>
			</dict>
			<dict>
				<key>label</key>
				<string>00</string>
				<key>keyTag</key>
				<string>00</string>
			</dict>
			<dict>
				<key>label</key>
				<string>000</string>
				<key>keyTag</key>
				<string>000</string>
			</dict>
			<dict>
				<key>label</key>
				<string>.</string>
				<key>keyTag</key>
				<string>.</string>
			</dict>
			<dict>
				<key>label</key>
				<string>＝</string>
				<key>keyTag</key>
				<string>=</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
